<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path '/css/app.css' }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <title>Preview Layout</title>
</head>
<body style="height: 600px; background-color: gray;">
    {{{ yield }}}
</body>
<script src="{{ path '/js/app-min.js' }}"></script>
</html>